/* Default state */
html {
    --cursor-inner-bg: rgba(255, 66, 82, 0.7); /* Pinkish inner circle */
    --cursor-outer-bg: rgba(205, 205, 205, 0.15); /* Light gray outer circle */
    --cursor-outer-border: rgba(205, 204, 204, 0.25); /* Gray border */
  }
  